* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.colors-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 80vh;
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* In my div with color class select the paragragh */
.color p {
  font-size: xx-large;
  font-weight: bold;
}

.buttons-container {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

i{
  font-size:36px
}

.ctrl-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: transform 0.5s;
  /* color: rgb(103, 63, 63); */
}

.rotate{
  animation: rotateAnim 0.5s linear;
}

@keyframes rotateAnim {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}